doctype html
html(lang="PT")
	head
		title= title
		meta(charset='UTF-8')
		//- https://fonts.google.com/
		link(href="https://fonts.googleapis.com/css?family=Fira+Sans|Inconsolata|Ubuntu", rel="stylesheet")
		block header
	body
		block content
		
		footer(align="center")
			a(href="https://www.twitch.tv/kempzbr", target="_blank") &copy; Copyright 2017 - Micael Levi (aka KempzBR)